html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* CSS styling for the navigation bar */
.navbar_container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo {
  position: fixed;
  left: 5%;
  top: 5%;
  height: 200px; /* Adjust the height to fit your logo */
  padding: 10px;
}

.navbar {
  position: fixed;
  top: 5%;
  left: 15%;
  background-color: transparent;
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: black;
  color: white;
  border-radius: 10px;
}

.main_panel {
  display: grid;
  grid-template-columns: repeat(2, 500px); /* Create a 2x2 grid with 300px columns */
  grid-gap: 20px; /* Add some spacing between the panels */
  margin: 200px auto; /* Center the grid horizontally */
  top: 50%;
}

.panel_1,
.panel_2,
.panel_3,
.panel_4 {
  background-color: #fff; /* Set the background color of the panels */
  border-radius: 20px; /* Adjust the value to control the roundness of the edges */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a box shadow for a modern look */
  padding: 20px;
}

.panel_1 Header,
.panel_2 Header,
.panel_3 Header,
.panel_4 Header {
  font-size: 24px;
  color: #333; /* Set the color of the heading */
  margin-bottom: 10px;
}

/* Add spacing between the title and the content */
.panel_1 p,
.panel_2 p,
.panel_3 p,
.panel_4 p {
  margin-top: 10px;
}

/* Additional styles for responsiveness (optional) */
@media (max-width: 700px) {
  .main_panel {
    grid-template-columns: 100%; /* On smaller screens, set the grid to a single column */
  }
}







.contact_QR a {
  width: 10px; /* Adjust the desired width */
  height: auto; /* Maintain aspect ratio */
}













